<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/ico" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/static/screen.css" />
  <title>Actix-Web DateTime</title>
</head>
<body>
  <header>
    <h1>Actix-Web DateTime</h1>
  </header>
  <main>
    <h2>Today's Date:</h2>
    <p>{{ date }}</p>
  </main>
  <footer>
    <p>&copy Jeffery D Mitchell</p>
  </footer>
  
</body>
</html>